body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  color: #1f2933;
}

header {
  background: #0f172a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #e5e7eb;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #facc15;
}

#toggleTema {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.hero {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #0f172a;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.card, .post {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, textarea, select, button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  width: 100%;
}

button {
  background: #0f172a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  padding: 20px;
  color: #6b7280;
}

/* ===== MODO ESCURO ===== */
.dark {
  background: #020617;
  color: #e5e7eb;
}

.dark header {
  background: #020617;
}

.dark .card,
.dark .hero,
.dark .post {
  background: #020617;
  border: 1px solid #1e293b;
}

.dark nav a {
  color: #e5e7eb;
}

.dark nav a:hover {
  color: #facc15;
}

.dark footer {
  color: #94a3b8;
}
